redis:
  host: 127.0.0.1
  port: 6379
http:
  host: 127.0.0.1
  port: 8888

adapter:
  slack:
    token: ""
  flowdock:
    token: ''
    organization: ''
    flows: ['']

handlers:
  aws_cloudwatch:
    default_room: '#cloudwatch'
